<p>product works!</p>
 

 

<form #f="ngForm" (ngSubmit)="addProduct(f)">

    Product Id:<input name="productId" ngModel type="text"><br><br>
    ProductName:<input name="productName" ngModel type="text"><br><br>
    ProductDescription:<input name="productDescription" ngModel type="text"><br><br>
    ProductPrice:<input name="productPrice" ngModel type="text"><br><br>
    ProductURL:<input name="productURL" ngModel type="text"><br><br>
    Category:<input name="category" ngModel type="text"><br><br>
    <button>Add Product</button>
</form>


 
